@model ServicesGo.Business_Layer.Models.Habilidad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Habilidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Experiencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experiencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConocimientosEspecificos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConocimientosEspecificos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
